body{
    margin: 0px;
    padding: 0px;
}
#main-container{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

header{
    background-color: red;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo-container{
    height: 60px;
    width: 180px;
}

#logo-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#options-container{
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#profile-container{
    height: 4px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#profile-image{
    height: 50px;
    width: 50px;
}












main{
    background-color: yellow;
    height: 50%;
}
footer{
    background-color: green;
    height: 10%;
}